<mat-card>
  <mat-card-content>
    <div class="d-flex flex-wrap">
      <div>
        <mat-card-title>Sales Overview</mat-card-title>
        <mat-card-subtitle>Simmple Admin Vs Material Admin</mat-card-subtitle>
      </div>
      <div class="ml-auto">
        <ul class="list-inline">
          <li>
            <h6 class="text-success m-0">
              <i class="mdi mdi-checkbox-blank-circle font-10 m-r-10"></i>Simple
            </h6>
          </li>
          <li>
            <h6 class="text-info m-0">
              <i class="mdi mdi-checkbox-blank-circle font-10 m-r-10"></i>Material
            </h6>
          </li>
        </ul>
      </div>
    </div>
    <div>
      <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [dataLabels]="chartOptions.dataLabels"
        [plotOptions]="chartOptions.plotOptions" [yaxis]="chartOptions.yaxis" [legend]="chartOptions.legend"
        [fill]="chartOptions.fill" [stroke]="chartOptions.stroke" [tooltip]="chartOptions.tooltip"
        [xaxis]="chartOptions.xaxis" [grid]="chartOptions.grid">
      </apx-chart>
    </div>
  </mat-card-content>
</mat-card>